<div class="container">
    <div class="starter-template">
        <h1><%= title %></h1>
        <form class="form-inline" id="flight_search">

            <input type="hidden" name="from" id="from_code" />
            <input type="hidden" name="to" id="to_code" />

            <div class="input-group">
                <div class="input-group-addon">From</div>
                <input type="text" class="form-control get-airports from-city" placeholder="Sydney" />
            </div>

            <div class="input-group">
                <div class="input-group-addon">To</div>
                <input type="text" class="form-control get-airports to-city" placeholder="Heathrow" />
            </div>

            <div class="input-group">
                <div class="input-group-addon">Date</div>
                <input type="text" class="form-control" id="datepicker" name="date" />
            </div>

            <button type="submit" class="btn btn-default">Search</button>

        </form>
    </div>
    <div class="table-responsive">
        <div class="results">
            <div id="textresults"></div>
            <div id="tableresults"></div>
        </div>
        <div class="loading">
            <img src="/img/loading.gif" alt="img" />
        </div>
    </div>
</div>