<div class="container">
    <div class="starter-template">
        <h1><%= title %></h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<content.length; i++) {%>
                        <tr>
                            <td><%=content[i].code%></td>
                            <td><%=content[i].name%></td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>