#flight_search .ui-autocomplete-loading {
    background: transparent url("/img/loading.gif") right center no-repeat;
}
.table-responsive {
    margin: 20px 0 0 0;
}
.table-responsive .loading {
    margin: auto;
    text-align: center;
    display: none;
}
.table-responsive .loading.active {
    display: block;
}
.changeDate {
    cursor: pointer;
}